<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PomodoroTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PomodoroTimer.Properties.Settings>
            <setting name="WorkTimeMins" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ShortBreakMins" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LongBreakMins" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShortBreaksCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LongBreaksAllowed" serializeAs="String">
                <value>True</value>
            </setting>
        </PomodoroTimer.Properties.Settings>
    </userSettings>
</configuration>